{% load mb_extras %}
<div class="mb-4 sm:mb-2">
    <!--post title, upvote icon, pin highlighting and url-->
    <div>
        <!--only show upvote functionalities if the user is authenticated.-->
        {% if request.user.is_authenticated %}
            {% csrf_token %}
            <a id="up_{{ post.id }}"
               onclick="upvotePost(this)"
               data-upvote-url="{% url 'mb:post_upvote' post.id %}"
               data-redirect-url="{% url 'login' %}"
               class="cursor-pointer">
                <!--if user does not like post this will be displayed (grayed out)-->
                <span class="{% if post.is_fan %}hidden{% endif %} grayscale opacity-30"
                      data-state="inactive">🔥</span>
                <!--else this-->
                <span class="{% if not post.is_fan %}hidden{% endif %} grayscale-0 opacity-100"
                      data-state="active">🔥</span>
            </a>
        {% endif %}
        <!--this will highlight the post when pinned-->
        {% if post.pinned %}
            <a href="{{ post.url }}"> <mark class="mark">{{ post.title }}</mark> </a>
        {% else %}
            <a href="{{ post.url }}">{{ post.title }}</a>
        {% endif %}
        <!--a snapshot of the url domain-->
        <span class="text-base-600 text-xs">({{ post.url|truncatesmart }})</span>
    </div>
    <!--post metadata and buttons-->
    <div class="text-base-600 text-xs">
        <!-- author -->
        <a href="{% url 'mb:profile' post.user.id %}"
           class="italic hover:text-base-100 cursor-pointer">{{ post.user }}</a>
        <!-- date -->
        {{ post.date|timeago }} ago
        <!-- board -->
        {% if post.board_prefix %}
            in
            <span class="font-semibold text-{{ post.board_prefix | board_color }}">{{ post.board_prefix }}</span>
        {% endif %}
        •
        <!-- likes and comments -->
        <span class="score" id="score_{{ post.id }}">{{ post.nlikes }} point{{ post.nlikes|pluralize }}</span>,
        <a href="{% url 'mb:post_detail' post.id %}"
           class="hover:text-base-100 cursor-pointer whitespace-nowrap">{{ post.ncomments }} comments</a>
        <!-- delete and edit buttons should be displayed to mods and authors -->
        {% if post.user == request.user or request.user.has_mod_rights %}
            | <a href="{% url 'mb:post_delete' post.id %}"
    class="hover:text-base-100 cursor-pointer">delete</a>
            | <a href="{% url 'mb:post_edit' post.id %}"
    class="hover:text-base-100 cursor-pointer">edit</a>
        {% endif %}
        <!-- pin functionalities are displayed only to mods -->
        {% if request.user.has_mod_rights %}
            <form method="post"
                  action="{% url 'mb:post_pin' post.id %}"
                  class="m-0 inline-block">
                {% csrf_token %}
                <button type="submit" class="inline-block">
                    |
                    {% if post.pinned %}
                        unpin
                    {% else %}
                        pin
                    {% endif %}
                </button>
            </form>
        {% endif %}
    </div>
</div>
