{% load mb_extras %}
<div>
    <div">
        <a id="up_{{ post.id }}"
            onclick="upvotePost(this)"
            data-upvote-url="{% url 'mb:post_upvote' post.id %}"
            data-redirect-url="{% url 'login' %}">+1</a>
        <a href={{ post.url }}>{% if show_prefix %}{{ post.board_prefix }}{% endif %}{{ post.title }}</a>
        <span class="text-base-600">({{ post.url|truncatesmart }})</span>
    </div>
    <div class="text-base-600 text-xs mb-1">
        {{ post.date|timesince }} ago by <a href="{% url 'mb:profile' post.user.id %}" class="italic">{{ post.user }}</a>
        <span class="score" id="score_{{ post.id }}">({{ post.nlikes }} point{{ post.nlikes|pluralize }})</span>
        | <a href="{% url 'mb:post_detail' post.id %}">discuss</a>
        {% if post.user == request.user or request.user.has_mod_rights %}
            | <a href="{% url 'mb:post_delete' post.id %}">delete</a>
            | <a href="{% url 'mb:post_edit' post.id %}">edit</a>
        {% endif %}
    </div>
</div>