{% extends 'base.html' %}
{% load mboard_extras %}
{% block content %}
    <!-- comment recap -->
    <div class="my-4">{% include "mboard/includes/comment.html" with comment=comment %}</div>
    <!-- errors-->
    {% if form.errors %}
        <div class="my-4">there were some problems with your submission:</div>
        <div class="my-4">
            {% for field, errors in form.errors.items %}{{ errors }}{% endfor %}
        </div>
    {% endif %}
    <!-- reply form -->
    <form method="post" actions="{% url 'mboard:comment_reply' comment.id %}">
        {% csrf_token %}
        <div class="my-8 text-7xl font-extrabold">reply</div>
        <div class="my-4">{{ form.content | addclass:'form' }}</div>
        <button type="submit" class="button">Submit</button>
    </form>
{% endblock %}
