{% extends 'base.html' %}
{% block content %}
    <!-- comment recap -->
    <p>{% include "mb/includes/comment.html" with comment=comment %}</p>
    <!-- errors-->
    {% if form.errors %}
        There were some problems with your submission:
        <br>
        {% for field, errors in form.errors.items %}{{ errors }}{% endfor %}
    {% endif %}
    <!-- reply form -->
    <p>
        <form method="post" actions="{% url 'mb:comment_reply' comment.id %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.content }}</td>
                </tr>
            </table>
            <input type="submit" value="reply">
        </form>
    </p>
{% endblock %}
