{% extends 'base.html' %}
{% block content %}
    <!-- post table -->
    <h1>{{ header }}</h1>
    {% if page_obj %}
        <ul>
            <table>
                {% for post in page_obj %}
                    <tr>
                        <td style="vertical-align:top;">{{ forloop.counter0 | add:page_obj.start_index }}.</td>
                        <td style="vertical-align:top;">{% include "mb/includes/post.html" with post=post show_prefix=show_prefix %}</td>
                    </tr>
                {% endfor %}
            </table>
        </ul>
        {% include "pagination_footer.html" %}
    {% else %}
        <p>{{ empty_message }}</p>
    {% endif %}
{% endblock %}
