{% extends 'base.html' %}
{% load mb_extras %}

{% block content %}
    <!-- post title and content -->
    <div class="my-4">{% include "mb/includes/post.html" with post=post show_prefix=show_prefix %}</div>
    <!-- comment form -->
    {% if comment_form %}
            {% if user.is_authenticated %}
                <div class="my-4">Add a comment</div>
                <form method="post" action="{% url 'mb:post_comment' post.id %}">
                    {% csrf_token %}
                    <div class="my-2">{{ comment_form.content | addclass:'bg-base-black text-base-100 p-2 h-24 border border-base-100' }}</div>
                    <button type="submit" class="button ">Submit</button>
                </form>
            {% else %}
                    <div class="my-4"><a href="{% url 'login' %}">Login</a> to add a comment.</div>
            {% endif %}
    {% endif %}
    <!-- comment section -->
    <div class="text-7xl font-extralight my-8">comments</div>
    {% for comment in comments %}
        <div>{% include "mb/includes/comment.html" with comment=comment %}</div>
        <ul class="ml-8">
            {% include "mb/includes/replies.html" with depth=1 %}
        </ul>
    {% empty %}
        <div>No comments yet.</p>
    {% endfor %}
{% endblock %}
