{% extends 'base.html' %}
{% load mb_extras %}

{% block content %}
    <!--- post recap -->
    <div class="mb-8">{% include "mb/includes/post.html" with post=post %}</div>
    <div class="text-6xl my-4">edit post</div>
    
    <!--- errors -->
    {% if form.errors %}
        <div class="my-4">there were some problems with your submission:</div>
        <div class="my-4">{% for field, errors in form.errors.items %}{{ errors }}{% endfor %}</div>
    {% endif %}
    
    <!--- editing form -->
    <form method="post" action="{% url 'mb:post_edit' post.id %}">
        {% csrf_token %}
        <table class="my-4">
            <tr>
                <td class="pr-4">{{ form.title.label_tag }}</td>
                <td>{{ form.title | addclass:'bg-base-900 text-base-100' }}</td>
            </tr>
            <tr>
                <td class="pr-4">URL:</td>
                <td class="text-base-600">{{ post.url }}</td>
            </tr>
        </table>
        <button type="submit" class="button">Submit</button>
    </form>
{% endblock %}