{% extends 'base.html' %}
{% load mb_extras %}

{% block content %}
    <!-- post title and content -->
    <div class="my-4">{% include "mb/includes/post.html" with post=post show_prefix=show_prefix %}</div>
    <!-- comment form -->
    {% if comment_form %}
            {% if user.is_authenticated %}
                <div class="my-4">Add a comment</div>
                <form method="post" action="{% url 'mb:post_comment' post.id %}">
                    {% csrf_token %}
                    <div class="my-4">{{ comment_form.content | addclass:'bg-base-900 text-base-100 w-full sm:w-1/2 h-24' }}</div>
                    <button type="submit" class="button">Submit</button>
                </form>
            {% else %}
                    <div class="my-4"><a href="{% url 'login' %}">Login</a> to add a comment.</div>
            {% endif %}
    {% endif %}
    <!-- comment section -->
    <div class="my-4 text-7xl">comments</div>
    {% for comment in comments %}
        <div class="text-xs">{% include "mb/includes/comment.html" with comment=comment %}</div>
        <div class="text-base-600 mb-1 ml-5 text-xs">
            <!--reply button-->
            {% if request.user.is_authenticated %}
                <a href="{% url 'mb:comment_reply' comment.id %}"
                   class="hover:text-base-100 cursor-pointer">reply</a>
            {% endif %}
        </div>
        <ul class="ml-8 text-xs">
            {% include "mb/includes/replies.html" with depth=1 %}
        </ul>
    {% empty %}
        <div class="my-4 text-xs">No comments yet.</p>
    {% endfor %}
{% endblock %}
