{% extends 'base.html' %}
{% load mb_extras %}

{% block content %}
    <!--- post recap -->
    <div class="my-4">{% include "mb/includes/post.html" with post=post %}</div>
    <h2 class="my-4 font-extralight text-6xl sm:text-7xl">edit post</h2>
    
    <!--- errors -->
    {% if form.errors %}
        <div class="my-4">there were some problems with your submission:</div>
        <div class="my-4">{% for field, errors in form.errors.items %}{{ errors }}{% endfor %}</div>
    {% endif %}
    
    <!--- editing form -->
    <form method="post" action="{% url 'mb:post_edit' post.id %}">
        {% csrf_token %}
        <div class="my-4 space-y-2">
            <div class="flex">
                <div class="w-24 pr-4">{{ form.title.label_tag }}</div>
                <div class="flex-1 max-w-[24rem]">{{ form.title | addclass:'form w-full' }}</div>
            </div>
            <div class="flex">
                <div class="w-24 pr-4">URL</div>
                <div class="text-base-600">{{ post.url }}</div>
            </div>
        </div>
        <button type="submit" class="my-2 button">Submit</button>
    </form>
{% endblock %}