@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .button {
    @apply text-base font-semibold border py-2 px-4 border-base-100 bg-base-black 
           transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300;
  }
  .button-red {
    @apply button hover:border-red hover:text-red;
  }
  .form {
    @apply bg-base-black text-base-100 p-2 border border-base-100 resize;
  }
}

.mark {
  background: linear-gradient(-100deg, hsla(61, 100%, 60%, 0.8), hsla(61, 100%, 60%, 0.9) 95%, hsl(61, 100%, 60%));
  border-radius: .5em 0;
  padding: .05rem .2rem;
}