{% extends 'base.html' %}
{% block content %}
    <h1>{{ user.username }}</h1>
    <h2>Contributions</h2>
    {% if page_obj %}
        <ul>
            <table>
                {% for contribution in page_obj %}
                    <tr>
                        <td style="vertical-align:top;">{{ forloop.counter0 | add:page_obj.start_index }}.</td>
                        {% if contribution.ispost %}
                            <td style="vertical-align:top;">{% include "app/includes/post.html" with post=contribution.content %}</td>
                        {% else %}
                            <td style="vertical-align:top;">{% include "app/includes/comment.html" with comment=contribution.content %}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </ul>
        {% include "pagination_footer.html" %}
    {% else %}
        <p>{{ empty_message }}</p>
    {% endif %}
{% endblock %}
