{% extends 'base.html' %}
{% load mboard_extras %}
{% block content %}
    <!-- post recap -->
    <div class="my-4">{% include "mboard/includes/post.html" with post=post %}</div>
    <h2 class="text-7xl my-8 font-extrabold">
        {% if post.pinned %}
            unpin
        {% else %}
            pin
        {% endif %}
    </h2>
    <!-- delete form -->
    <div class="my-4">
        <div>
            Are you sure you want to
            {% if post.pinned %}
                unpin
            {% else %}
                pin
            {% endif %}
            this post?
        </div>
        <form action="{% url 'mboard:post_pin' post.id %}"  method="post" class="mt-4">
            {% csrf_token %}
            <button type="submit" class="button-red my-4">
                YES,
                {% if post.pinned %}
                    unpin
                {% else %}
                    pin
                {% endif %}
            </button>
        </form>
    </div>
{% endblock %}
