{% extends 'base.html' %}
{% block content %}
    <h2 class="text-6xl my-8 font-extrabold">profile</h2>
    <!-- user infos -->
    <div class="my-4 space y-2">
        <div class="flex">
            <div class="w-24 pr-4">username:</div>
            <div class="italic">{{ user.username }}</div>
        </div>
        <div class="flex">
            <div class="w-24 pr-4">last login:</div>
            <div>{{ user.last_login }}</div>
        </div>
        <div class="flex">
            <div class="w-24 pr-4">join date:</div>
            <div>{{ user.date_joined }}</div>
        </div>
        <div class="flex">
            <div class="w-24 pr-4">status :</div>
            <div>{{ user.get_status_display }}</div>
        </div>
    </div>
    <!-- links to contributions -->
    <div class="my-4 space y-2">
        <div>
            <a href="{% url 'mboard:profile_posts' user.id %}"
               class="italic cursor-pointer">posts ({{ user.post_count }})</a>
        </div>
        <div>
            <a href="{% url 'mboard:profile_comments' user.id %}"
               class="italic cursor-pointer">comments ({{ user.comment_count }})</a>
        </div>
    </div>
{% endblock %}
