{% load static %}
<script src="{% static 'js/base.js' %}"></script>

<html lang="en">
    <a href="{% url 'app:index' %}">all</a>
    <a href="{% url 'app:papers' %}">papers</a>
    <a href="{% url 'app:code' %}">code</a>
    <a href="{% url 'app:jobs' %}">jobs</a>
    {% if user.is_authenticated %}
        <a href="{% url 'app:post_submit' %}">submit</a>
        [user: {{ user.get_username }} |
        <a href="{% url 'accounts:logout' %}">logout</a>]
    {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'accounts:signup' %}">signup</a>
    {% endif %}
    {% block content %}{% endblock %}
</html>
