{% load static %}
{% load mb_extras %}
<script src="{% static 'js/base.js' %}"></script>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Astrowebsite</title>
        <link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css">
    </head>
    <body class="bg-base-black flex flex-col font-sans text-base-100  items-center">
        <!-- Container wrapper for positioning -->
        <div class="relative w-full max-w-4xl m-12 md:m-20">
            <!-- Wraparound container -->
            <div class="absolute lg:rounded-3xl inset-x-0 -top-1 -bottom-1 lg:-inset-1
            <!-- Selects the background color based on board-->
                {% if header %}
                    bg-{{ header | board_color }}
                {% elif post.board %}
                    bg-{{ post.board_prefix | board_color }}
                {% else %}
                    bg-base-100
                {% endif %}
                "></div>
            <!-- Main content container -->
            <div class="relative bg-base-black py-8 px-2 sm:px-8 lg:rounded-3xl">
                <!-- Navigation -->
                <nav>
                    <div class="max-w-4xl mx-auto py-2 flex flex-col space-y-2 sm:flex-row sm:items-center sm:h-8 sm:justify-between sm:space-y-0">
                        <!-- left side of navigation bar-->
                        {% include "navbar.html" %}
                    </div>
                </nav>
                <main class="max-w-4xl mx-auto text-left">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
        <!-- Footer -->
        <div class="w-full max-w-4xl mb-8 mt-12 px-8 flex flex-row gap-8 justify-center font-mono ">
            <div class="hidden sm:flex sm:justify-end">
                <img src="{% static 'pics/footer_sticker.gif' %}" alt="My image" class="w-40 object-scale-down">
            </div>
            <div class="text-xs text-base-100 flex flex-col max-w-64 gap-4 text-left ">
                <div>
                The Internet Space Telescope is a message board for sharing and discussing research work in space sciences and astrophysics.
                It's source code is open and free, and available to everyone under GPL license. ~p24
                </div>
                <div class="flex flex-row gap-4 justify-left mt-auto">
                    <img src="{% static 'pics/copyleft.svg' %}" alt="copyleft" class="w-6">
                    <img src="{% static 'pics/leftarrows.svg' %}" class="w-6">
                </div>
            </div>
            <div class="text-xs text-base-100 flex flex-col gap-2 min-w-24">
                <div>github</div>
                <div>discord</div>
                <div>about</div>
                <img src="{% static 'pics/ist.svg' %}" alt="Second image" class="w-32 mt-auto flex-none">
            </div>
        </div>
    </body>
</html>
