{% load static %}
{% load mb_extras %}
<script src="{% static 'js/base.js' %}"></script>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Astrowebsite</title>
        <link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css">
    </head>
    <body class="bg-base-black flex flex-col items-center font-sans text-base-100">
        <!-- Container wrapper for positioning -->
        <div class="relative w-full max-w-4xl m-12 md:m-20">
            <!-- Wraparound container -->
            <div class="absolute lg:rounded-3xl inset-x-0 -top-2 -bottom-2 lg:-inset-2 <!-- Selects the background color based on board-->
                {% if header %}
                    bg-{{ header | board_color }}
                {% elif post.board %}
                    bg-{{ post.board_prefix | board_color }}
                {% else %}
                    bg-base-100
                {% endif %}
                "></div>
            <!-- Main content container -->
            <div class="relative bg-base-black py-8 px-2 sm:px-8 lg:rounded-3xl">
                <!-- Navigation -->
                <nav>
                    <div class="max-w-4xl mx-auto py-2 flex flex-col space-y-2 sm:flex-row sm:items-center sm:h-8 sm:justify-between sm:space-y-0">
                        <!-- left side of navigation bar-->
                        {% include "navbar.html" %}
                    </div>
                </nav>
                <main class="max-w-4xl mx-auto text-left">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
        <!-- Footer text -->
        <div class="text-center text-xs text-base-100 font-mono mb-8">made by peppe • link to github • about</div>
    </body>
</html>
