{{ comment.content }}
<br>
<a id="up_{{ comment.id }}"
    onclick="upvoteComment(this)"
    data-upvote-url="{% url 'app:comment_upvote' comment.id %}"
    data-redirect-url="{% url 'login' %}"
    style="cursor: pointer">+1</a>
<span class="score" id="score_{{ comment.id }}">{{ comment.nlikes }} point{{ comment.nlikes|pluralize }}</span>
by <a href="{% url 'accounts:profile' comment.post.user.id %}">{{ comment.user.username }}</a>
on {{ comment.date }}
{% if comment.edited %}<a href="{% url 'app:comment_history' comment.id %}">*</a>{% endif %}
{% if user.is_authenticated %}
    | <a href="{% url 'app:comment_reply' comment.id %}">reply</a>
{% endif %}
| <a href="{% url 'app:comment_detail' comment.id %}">link</a>
{% if comment.user == request.user or request.user.has_mod_rights %}
    | <a href="{% url 'app:comment_delete' comment.id %}">delete</a>
    | <a href="{% url 'app:comment_edit' comment.id %}">edit</a>
{% endif %}
