{% for reply in comment.replies.all %}
    <p>
        {% include "app/includes/comment.html" with comment=reply %}
        {% if reply.replies.all|length %}
            {% if depth < max_depth %}
                <ul>
                    {% include "app/includes/replies.html" with comment=reply depth=depth|add:"1" %}
                </ul>
            {% else %}
                | <a href="{% url 'app:comment_detail' reply.id %}">more replies...</a>
            {% endif %}
        {% endif %}
    </p>
{% endfor %}
