{% for reply in comment.replies.all %}
    <p>{% include "app/includes/comment.html" with comment=reply %}</p>
    {% if reply.replies.all|length %}
        {% if depth < max_depth %}
            <ul>
                {% include "app/includes/replies.html" with comment=reply depth=depth|add:"1" %}
            </ul>
        {% else %}
            <p>
                <a href="{% url 'app:comment_detail' reply.id %}">Show more replies...</a>
            </p>
        {% endif %}
    {% endif %}
{% endfor %}
