{% for reply in comment.replies.all %}
    <p>{{ reply.content }}</p>
    <p>
        {{ reply.votes }} vote{{ reply.votes|pluralize }}
        by {{ reply.user.username }} on {{ reply.created_at }}
        {% if user.is_authenticated %}
            | <a href="{% url 'app:comment_reply' reply.id %}">reply</a>
        {% endif %}
        {% if reply.user == request.user %}
            | <a href="{% url 'app:comment_delete' reply.id %}">delete</a>
            | <a href="{% url 'app:comment_edit' reply.id %}">edit</a>
        {% endif %}
    </p>

    {% if reply.replies.all|length %}
        <ul>
            {% include "app/comment_replies.html" with comment=reply %}
        </ul>
    {% endif %}
{% endfor %}
