{% extends 'app/base.html' %}

{% block content %}
    <h2>Reply</h2>
    {% if form.errors %}
        There were some problems with your submission:<br>
        {% for field, errors in form.errors.items %}
            {{ errors }}
        {% endfor %}
    {% endif %}

    <p>{{ comment.content }}</p>
    <p>
        {{ comment.votes }} vote{{ comment.votes|pluralize }}
        by {{ comment.user.username }} on {{ comment.created_at }}
    </p>

    <form method="post" actions="{% url 'app:comment_reply' comment.id %}">
        {% csrf_token %}
        {{ form.content }}
        <p><input type="submit" value="submit"></p>
    </form>
{% endblock %}
