{% extends 'base.html' %}

{% block content %}
    <!-- post title and content -->
    <h1>{{ post.title }}</h1>
    <p>{{ post.url|urlize }}</p>
    <p>
        {{ post.votes }} vote{{ post.votes|pluralize }}
        by <a href="{% url 'accounts:profile' post.user.id %}">{{ post.user.username }}</a> on {{ post.date }}
        {% if post.user == request.user %}
            | <a href="{% url 'app:post_delete' post.id %}">delete</a>
        {% endif %}
    </p>

    <!-- comment form -->
    {% if comment_form %}
        {% if user.is_authenticated %}
            <h3>Add a comment</h3>
            <form method="post" action="{% url 'app:post_comment' post.id %}">
                {% csrf_token %}
                {{ comment_form.content }}
                <p>
                    <button type="submit">Submit Comment</button>
                </p>
            </form>
        {% else %}
            <p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
        {% endif %}
    {% endif %}

    <!-- comment section -->
    <h2>Comments</h2>
    {% for comment in comments %}
        {% include "app/includes/comment.html" with comment=comment %}
        <ul>
            {% include "app/includes/replies.html" with depth=1 %}
        </ul>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
{% endblock %}
